$primary: #2E1440;
$on-primary: #FFFFFF;
$primary-light-variant: #531b6b;
$secondary: #f2e30f;
$on-secondary: #000000;
$secondary-variant: #f2a516;
$error: rgb(180, 0, 0);


*{
  font-family: 'Jost', sans-serif;
}

//Sign In and Sign Up forms
.hide-scroll{
  overflow: hidden;
}

#log-out-button{
  border-radius: 10px;
  background-color: $secondary;
  color: $on-secondary;
  display: inline;
  margin-left: 0;
}

#log-out-button:hover{
  background-color: $primary;
  color: $on-primary;
  cursor: pointer;
}

.log-in-container{
  border: solid 5px $primary;
  background-color: $primary;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 25%;
  font-size: large;

  #app-name{
    text-align: center;
    font-size: larger;
    font-weight: 700;
    color: white;

    img{
      width: 50%;
    }
  }
  .error-message{
    color: $error;
    display: block;
    border: 2px solid $error;
    border-radius: 5px;
    padding: 5px;
  }

  .buttons{
    margin: auto;
    display: flex;
    width: 200px;
    #sign-in{
      margin-left: 0;
      width: 90px;
    }
    #sign-up{
      margin-right: 0;
      width: 90px;
    }
    #register{
      width: 90px;
      margin-left: 0;
    }
    #back{
      width: 90px;
      margin-right: 0;
    }
  }

  #sign-in-google{
    width: 200px
  }
  
  button{
    border-radius: 5px;
    background-color: $primary-light-variant;
    color: $on-primary;
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 0;
  }

  button:hover{
    background-color: $secondary;
    cursor: pointer;
    color: $on-secondary;
  }

  .input-field{
    margin: 10px;
    display: block;
    border-radius: 5px;
    padding: 5px;
    
    input{
      display: block;
      width: 100%;
      margin: auto;
      text-align: center;
      outline: 0;
      background-color: $primary;
      border-width: 0 0 2px;
      border-radius: 0;
      color: #ffffff;
    }

    input:focus{
      background-color: $primary;
      border-color: $secondary;
    }
  }
}

//Film view
body{
  background-color: $primary;
  color: $on-primary;

  main{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    
    

    #sorting-box{
      background-color: $primary-light-variant;
      border-radius: 10px;
      padding: 5px 0;
      margin: 15px 0;
      
      #sorted-by{
        height: 20px;
        padding: 15px;
        position: relative;
        
        #sort-selection{
          display: inline;
          position: absolute;
          left: 65px;
          top: 13px;
        }
        #sort-button{
          position: absolute;
          background-color: $primary;
          color: $on-primary;
          border-radius: 10px;
          border: none;
          left: 10px;
          top: 2px;
        }
          
        #sort-button:hover{
          background-color: $secondary;
          cursor: pointer;
          color: $on-secondary;
        }
      }
      

      button{
        background-color: $primary;
        color: $on-primary;
        border-radius: 10px;
        border: none;
      }
      
      button:hover{
        background-color: $secondary;
        cursor: pointer;
        color: $on-secondary;
      }

      button:focus{
        background-color: $secondary;
        color: $on-secondary;
      }
    }

    .film-list-item{
      background-color: $primary-light-variant;
      color: #ffffff;
      width: 100%;
      border-radius: 10px;
      padding: 15px 0;
      margin: 5px auto;
    }

    .film-list-item:focus{
      background-color: $secondary;
      color: $on-secondary;
    }

    #add-movie-button{
      position:fixed;
      padding: 20px;
      bottom: 5px;
      right: 5px;
      border-color: $secondary-variant;
      border-radius: 50%;
      background-color: $secondary-variant;
      color: $on-secondary;
      font-size: 32px;
    }

    #buttons-plus-title{
      position: relative;
      #delete-button{
        position: absolute;
        right: 0;
        top: -5px;
      }

      .favorite-button{
        position: absolute;
        left: 0;
        top: -5px;
      }
    }
    #film-container{
      border-radius: 10px;
      padding: 10px 15px;
      max-width: 600px;
      margin: auto;
      background-color: $primary-light-variant;
      
      #film-poster{
        border: 5px solid $primary;
        border-radius: 10px;
        max-width: 85%;
        margin-top: 10px;
      }

      .like-container{
        display: flex;
        #like-button{
          position: relative;
          width: 80px;
          right: 20px;
        }
        #dislike-button{
          position: relative;
          width: 80px;
          left: 20px;
        }
        #like-counter{
          position: relative;
          top: 20px;
          right: 20px;
        }
        #dislike-counter{
          position: relative;
          top: 20px;
          left: 20px;
        }
      }

      button{
        border-radius: 5px;
        background-color: $secondary;
        color: $on-secondary;
        text-align: center;
        display: block;
        margin: 10px auto;
        padding: 10px;
        border: 0;
      }
    
      button:hover{
        background-color: $primary;
        cursor: pointer;
        color: $on-primary;
      }

      #close-info{
        width: 100%;
      }

      #trailer-player{
        margin: 10px;
        border: 5px solid $primary;
        border-radius: 10px;
      }
      #add-trailer{
        background-color: $secondary;
        color: $on-secondary;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        button{
          background-color: $primary;
          color: $on-primary;
          width: 90%;
          margin-top: 15px;
        }
        button:hover{
          background-color: $secondary-variant;
          color: $on-primary;
        }
        input{
          display: block;
          width: 80%;
          margin: auto;
          text-align: center;
          outline: 0;
          background-color: $secondary;
          border-width: 0 0 2px;
          border-radius: 0;
          border-color: $primary;
          color: $on-secondary;
        }
        input:focus{
          background-color: $secondary;
          border-color: $primary;
        }
        button:hover{
          background-color: $primary-light-variant;
        }
      }
    }

    #add-film-container{
      background-color: $primary-light-variant;
      color: $on-primary;
      border-radius: 10px;
      padding: 10px 15px;
      margin-bottom: 10px;
      #add-pictures{
        display: flex;
      }

      #film-poster{
        border: 5px solid $primary;
        border-radius: 10px;
        max-width: 90%;
      }

      .add-film-row{
        display: block;
        margin: 10px auto;
        
        label{
          margin-top: 10px;
          margin-bottom: 0px;
        }

        input{
          display: block;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          outline: 0;
          background-color: $primary-light-variant;
          border-width: 0 0 2px;
          border-radius: 0;
          color: #ffffff;
        }
    
        input:focus{
          background-color: $primary-light-variant;
          border-color: $secondary;
        }
      }

      button{
        border-radius: 5px;
        background-color: $secondary;
        color: $on-secondary;
        text-align: center;
        display: block;
        margin: 20px 0px auto;
        padding: 12px;
        border: 0;
        width: 100%;
      }
    
      button:hover{
        background-color: $primary;
        cursor: pointer;
        color: $on-primary;
      }
    }
  }
}