* {
  font-family: "Jost", sans-serif;
}

.hide-scroll {
  overflow: hidden;
}

#log-out-button {
  border-radius: 10px;
  background-color: #f2e30f;
  color: #000000;
  display: inline;
  margin-left: 0;
}

.log-in-container {
  border: solid 5px #2E1440;
  background-color: #2E1440;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 25%;
  font-size: large;
}
.log-in-container #app-name {
  text-align: center;
  font-size: larger;
  font-weight: 700;
  color: white;
}
.log-in-container #app-name img {
  width: 50%;
}
.log-in-container .error-message {
  color: rgb(180, 0, 0);
  display: block;
  border: 2px solid rgb(180, 0, 0);
  border-radius: 5px;
  padding: 5px;
}
.log-in-container .buttons {
  margin: auto;
  display: flex;
  width: 200px;
}
.log-in-container .buttons #sign-in {
  margin-left: 0;
  width: 90px;
}
.log-in-container .buttons #sign-up {
  margin-right: 0;
  width: 90px;
}
.log-in-container .buttons #register {
  width: 90px;
  margin-left: 0;
}
.log-in-container .buttons #back {
  width: 90px;
  margin-right: 0;
}
.log-in-container #sign-in-google {
  width: 200px;
}
.log-in-container button {
  border-radius: 5px;
  background-color: #531b6b;
  color: #FFFFFF;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 0;
}
.log-in-container button:hover {
  background-color: #f2e30f;
  cursor: pointer;
  color: #000000;
}
.log-in-container .input-field {
  margin: 10px;
  display: block;
  border-radius: 5px;
  padding: 5px;
}
.log-in-container .input-field input {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  outline: 0;
  background-color: #2E1440;
  border-width: 0 0 2px;
  border-radius: 0;
  color: #ffffff;
}
.log-in-container .input-field input:focus {
  background-color: #2E1440;
  border-color: #f2e30f;
}

body {
  background-color: #2E1440;
  color: #FFFFFF;
}
body main {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
body main #sorting-box {
  background-color: #531b6b;
  border-radius: 10px;
  padding: 10px 0;
  margin: 15px 0;
}
body main #sorting-box button {
  background-color: #2E1440;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
}
body main #sorting-box button:hover {
  background-color: #f2e30f;
  cursor: pointer;
  color: #000000;
}
body main #sorting-box button:focus {
  background-color: #f2e30f;
  color: #000000;
}
body main .film-list-item {
  background-color: #531b6b;
  color: #ffffff;
  width: 100%;
  border-radius: 10px;
  padding: 15px 0;
  margin: 5px auto;
}
body main .film-list-item:focus {
  background-color: #f2e30f;
  color: #000000;
}
body main #add-movie-button {
  position: fixed;
  padding: 20px;
  bottom: 5px;
  right: 5px;
  border-color: #f2a516;
  border-radius: 50%;
  background-color: #f2a516;
  color: #000000;
  font-size: 32px;
}
body main #film-container {
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 600px;
  margin: auto;
  background-color: #531b6b;
}
body main #film-container #film-poster {
  border: 5px solid #2E1440;
  border-radius: 10px;
  max-width: 90%;
}
body main #film-container .like-container {
  display: flex;
}
body main #film-container button {
  border-radius: 5px;
  background-color: #f2e30f;
  color: #000000;
  text-align: center;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 0;
}
body main #film-container button:hover {
  background-color: #2E1440;
  cursor: pointer;
  color: #FFFFFF;
}
body main #film-container #close-info {
  width: 100%;
}
body main #add-film-container {
  background-color: #531b6b;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
}
body main #add-film-container #add-pictures {
  display: flex;
}
body main #add-film-container .add-film-row {
  display: block;
  margin: 10px auto;
}
body main #add-film-container .add-film-row label {
  margin-top: 10px;
  margin-bottom: 0px;
}
body main #add-film-container .add-film-row input {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  outline: 0;
  background-color: #531b6b;
  border-width: 0 0 2px;
  border-radius: 0;
  color: #ffffff;
}
body main #add-film-container .add-film-row input:focus {
  background-color: #531b6b;
  border-color: #f2e30f;
}
body main #add-film-container button {
  border-radius: 5px;
  background-color: #f2e30f;
  color: #000000;
  text-align: center;
  display: block;
  margin: 20px 0px auto;
  padding: 12px;
  border: 0;
  width: 100%;
}
body main #add-film-container button:hover {
  background-color: #2E1440;
  cursor: pointer;
  color: #FFFFFF;
}

/*






*/

/*# sourceMappingURL=styles.css.map */
